body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-image {
  min-height: 375px;
  max-height: 375px;
  background: black;
  padding: 10px 0px;
}
.card-image img {
  max-height: 375px;
}
.card .card-content {
  height: 120px;
}
.team-title {
  margin-top: 0px;
  font-size: 20px;
}
